<div class="div-main-page-content">
    <div class="div-channel-name-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M13.3327 17.5V15.8333C13.3327 14.9493 12.9815 14.1014 12.3564 13.4763C11.7313 12.8512 10.8834 12.5 9.99935 12.5H4.99935C4.11529 12.5 3.26745 12.8512 2.64233 13.4763C2.01721 14.1014 1.66602 14.9493 1.66602 15.8333V17.5M18.3327 17.5V15.8333C18.3321 15.0948 18.0863 14.3773 17.6338 13.7936C17.1813 13.2099 16.5478 12.793 15.8327 12.6083M13.3327 2.60834C14.0497 2.79192 14.6852 3.20892 15.139 3.7936C15.5929 4.37827 15.8392 5.09736 15.8392 5.8375C15.8392 6.57765 15.5929 7.29674 15.139 7.88141C14.6852 8.46609 14.0497 8.88309 13.3327 9.06667M10.8327 5.83333C10.8327 7.67428 9.3403 9.16667 7.49935 9.16667C5.6584 9.16667 4.16602 7.67428 4.16602 5.83333C4.16602 3.99238 5.6584 2.5 7.49935 2.5C9.3403 2.5 10.8327 3.99238 10.8327 5.83333Z" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h1 class="h1-channel-name">
            Friends
          </h1>
          <svg xmlns="http://www.w3.org/2000/svg" width="2" height="12" viewBox="0 0 2 12" fill="none">
            <path d="M1 1L1 11" stroke-linecap="round"/>
          </svg>
          <p class="p-channel-desc">all your friends here</p>
    </div>
    <div class="div-container-friends">
        <div class="div-all-friends-container">
          <div class="div-search-bar-container">
            <input type="text" name="" id="" placeholder="Search" class="input-search-value">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21.0002 21L16.7002 16.7M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <p class="p-list-friends">
            Online friends - <span class="count_online">{{friends_status_count["online_count"]}}</span>
          </p>
          <div id="online_friends">
            {% for ami in friends_list %}
              {% if ami["user_status"] != 0 and ami["user_status"] != 3 %}
              <div class="div-element-friend-profile">
                <div class="div-profile-picture-container" id="{{ami["username"]}}">
                  <style>
                    #{{ami["username"]}} {
                      background: url('{{ami["avatar"]}}');
                      background-size: cover !important;
                      background-position: center !important;
                    }
                  </style>
                  <div class="div-profile-status-info" id="{{ami["username"]}}-status">
                    <style>
                      #{{ami["username"]}}-status {               
                        {% if ami["user_status"] == 1 %}
                            background: var(--fire-breeze-500);
                        {% elif ami["user_status"] == 2 %}
                            background: var(--horty-red-600);
                        {% elif ami["user_status"] == 4 %}
                            background: var(--fuwa-link-600);
                        {% endif %}
                      }
                    </style>
                </div>
                </div>
                <div class="div-text-info-profile-container">
                  <h1>{{ami["displayname"]}}</h1>
                  <p>
                  {% if ami["user_status"] == 1 %}
                      Online
                  {% elif ami["user_status"] == 2 %}
                      Do not distrub
                  {% elif ami["user_status"] == 4 %}
                      Focus
                  {% endif %}
                  </p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M21 15C21 15.5304 20.7893 16.0391 20.4142 16.4142C20.0391 16.7893 19.5304 17 19 17H7L3 21V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V15Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              {% endif %}
          {% endfor %}
          </div>
          <p class="p-list-friends">
            Offline friends - <span class="count_offline">{{friends_status_count["offline_count"]}}</span>
          </p>
          <div id="offline_friends">
          {% for ami in friends_list %}
            {% if ami["user_status"] == 0 or ami["user_status"] == 3 %}
            <div class="div-element-friend-profile">
              <div class="div-profile-picture-container" id="{{ami["username"]}}">
                <style>
                  #{{ami["username"]}} {
                    background: url('{{ami["avatar"]}}');
                    background-size: cover !important;
                    background-position: center !important;
                  }
                </style>
                <div class="div-profile-status-info" id="{{ami["username"]}}-status">
                  <style>
                    #{{ami["username"]}}-status {
                      background: var(--no-hover);
                    }
                  </style>
              </div>
              </div>
              <div class="div-text-info-profile-container">
                <h1>{{ami["displayname"]}}</h1>
                <p>
              Offline
                </p>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M21 15C21 15.5304 20.7893 16.0391 20.4142 16.4142C20.0391 16.7893 19.5304 17 19 17H7L3 21V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V15Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            {% endif %}
        {% endfor %}
          </div>
        </div>

        <div class="div-pending-container">
          <div class="div-container-buttons">
            <button class="button-button-tag">Pending</button>
            <button class="button-button-tag" id="add-element">Add</button>
          </div>
          <div class="div-container-button-result">

              {% for pending_user in pending_by_users%}
              <div class="div-article-list">
                <div class="div-profile-picture-container" id="{{pending_user["username"]}}">
                  <style>
                    #{{pending_user["username"]}} {
                      background: url('{{pending_user["avatar"]}}');
                      background-size: cover !important;
                      background-position: center !important;
                    }
                  </style>
                  <div class="div-profile-status-info" id="{{pending_user["username"]}}-status">
                    <style>
                      #{{pending_user["username"]}}-status {    
                        {% if pending_user["user_status"] == 0 %}      
                          background: var(--no-hover);
                        {% elif pending_user["user_status"] == 1 %}
                            background: var(--fire-breeze-500);
                        {% elif pending_user["user_status"] == 2 %}
                            background: var(--horty-red-600);
                        {% elif pending_user["user_status"] == 4 %}
                            background: var(--fuwa-link-600);
                        {% endif %}
                      }
                    </style>
                </div>
                </div>
                <div class="div-text-info-profile-container">
                  <h1>{{pending_user["displayname"]}}</h1>
                  <p>
                    {% if pending_user["user_status"] == 0 or pending_user["user_status"] == 3 %}
                        Offline
                    {% elif pending_user["user_status"] == 1 %}
                        Online
                    {% elif pending_user["user_status"] == 2 %}
                        Do not distrub
                    {% elif pending_user["user_status"] == 4 %}
                        Focus
                {% endif %}
                  </p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M20 6L9 17L4 12"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M18 6L6 18M6 6L18 18"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              {% endfor %}
              {% for pending_user_author in pending_by_author%}
              <div class="div-article-list">
                <div class="div-profile-picture-container" id="{{pending_user_author["username"]}}">
                  <style>
                    #{{pending_user_author["username"]}} {
                      background: url('{{pending_user_author["avatar"]}}');
                      background-size: cover !important;
                      background-position: center !important;
                    }
                  </style>
                  <div class="div-profile-status-info" id="{{pending_user_author["username"]}}-status">
                    <style>
                      #{{pending_user_author["username"]}}-status {               
                        {% if pending_user_author["user_status"] == 0 %}      
                          background: var(--no-hover);
                        {% elif pending_user_author["user_status"] == 1 %}
                            background: var(--fire-breeze-500);
                        {% elif pending_user_author["user_status"] == 2 %}
                            background: var(--horty-red-600);
                        {% elif pending_user_author["user_status"] == 4 %}
                            background: var(--fuwa-link-600);
                        {% endif %}
                      }
                    </style>
                </div>
                </div>
                <div class="div-text-info-profile-container">
                  <h1>{{pending_user_author["displayname"]}}</h1>
                  <p>
                  {% if pending_user_author["user_status"] == 0 or pending_user_author["user_status"] == 3 %}
                      Offline
                  {% elif pending_user_author["user_status"] == 1 %}
                      Online
                  {% elif pending_user_author["user_status"] == 2 %}
                      Do not distrub
                  {% elif pending_user_author["user_status"] == 4 %}
                      Focus
                  {% endif %}
                  </p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M20 6L9 17L4 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              {% endfor %}
          </div>
        </div> 
        

    </div>
</div>
<script src="/static/js/friends.js"></script>