
<div class="container-l-r">

    <div>

        <h1>👋 It's a pleasure to see you</h1>
        <h2>Publish your videos, images and music for free. Keep in touch with your friends.</h2>
        <div class="t-connect">
            <a href="./register">
                <button>
            
                    <p>Sign up</p>
                
                </button>
            </a>
            <button class="fill">
                <p>Log in</p>
            </button>

        </div>
        <form action="./login" method="post">
        <div class="input-zn">
            <input type="text" placeholder="Username" name="username" require>
        </div>
        
        <div class="input-zn">
            <input type="password"  name="password" id="passwordInput" placeholder="••••••" require>
            <svg onclick="togglePasswordVisibility()" class="password-view" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                 <g>
                     <path d="M10.3801 10.38C10.0854 10.6547 9.84897 10.9859 9.685 11.3539C9.52103 11.7218 9.43287 12.1191 9.42576 12.5219C9.41865 12.9247 9.49275 13.3248 9.64364 13.6984C9.79452 14.0719 10.0191 14.4113 10.304 14.6962C10.5888 14.981 10.9282 15.2056 11.3017 15.3565C11.6753 15.5074 12.0754 15.5815 12.4782 15.5744C12.881 15.5673 13.2783 15.4791 13.6463 15.3151C14.0143 15.1512 14.3455 14.9148 14.6201 14.62M11.23 5.58C11.6513 5.52751 12.0754 5.50079 12.5 5.5C19.5 5.5 22.5 12.5 22.5 12.5C22.0529 13.4571 21.4922 14.3569 20.83 15.18M7.11 7.10999C5.12125 8.46461 3.52987 10.3252 2.5 12.5C2.5 12.5 5.5 19.5 12.5 19.5C14.4159 19.5051 16.2908 18.9451 17.89 17.89M2.5 2.5L22.5 22.5"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                 </g>
            </svg>
        </div>
   
        <div class="input-zn">
            <input type="text" placeholder="Email code" name="emailcode" require>
           
           <svg class="password-view" id="important" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M22 2L15 22L11 13M22 2L2 9L11 13M22 2L11 13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        
        <button type="submit" class="default" name="login" id="big-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path d="M15.5 3.5H19.5C20.0304 3.5 20.5391 3.71071 20.9142 4.08579C21.2893 4.46086 21.5 4.96957 21.5 5.5V19.5C21.5 20.0304 21.2893 20.5391 20.9142 20.9142C20.5391 21.2893 20.0304 21.5 19.5 21.5H15.5M10.5 17.5L15.5 12.5M15.5 12.5L10.5 7.5M15.5 12.5H3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p>log in</p>
        </button>
        </form>
    </div>


    <div class="join-cta">
        <h1>It's time to switch to efficient and not boring</h1>
        <h2>Spend time with friends without ads everywhere!</h2>
    </div>

</div>
<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("passwordInput");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>
