@font-face {
    font-family: 'Clash Display Variable';
    src: url('/static/assets/font/ClashDisplay-Variable.ttf') format('truetype');
}
@font-face {
    font-family: 'Sora';
    src: url('/static/assets/font/SoraDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('/static/assets/font/PoppinsDisplay-Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: 'Sora';
    color: var(--Text);
    background: var(--background);
}
button.default {
    border: none;
    display: flex;
    height: 58px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--horty-red-600);
    color: var(--horty-red-50);
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
button.fill-pal {
    border: none;
    display: flex;
    height: 58px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--horty-red-100);
    color: var(--horty-red-600);
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}