<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="{{title}}">
    <meta name="description" content="{{description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="en">
    <meta name="theme-color" content="#ffffff">
    <meta content="/static/assets/logo.png" property='og:image'>

    <meta name="title" content="{{title}}">
    <meta name="description" content="{{description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="French">

    <meta content="{{title}}" property="og:site_name">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <link rel="alternate icon" class="js-site-favicon" type="image/png" href="/static/assets/logo.png">

    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    {% for style in styles %}
        <link rel="stylesheet" href="{{style}}">
    {% endfor %}
</head>
<body>
    {% if navbar_type == 1 %}
        {% include "components/navbar.html" %}
    {% elif navbar_type == 2 %}
        {% include "components/sidebar.html" %}
    {% endif %}
    {% include site_page %}
</body>
</html>