<div class="navbar">
    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.7529 15.1769H45V29.8231C36.6353 29.8231 29.7529 36.6156 29.7529 45H15.1412V29.8231H0V15.1769C8.36471 15.1769 15.1412 8.38443 15.1412 0H29.7529V15.1769Z"/>
    </svg>
    <div class="menu">
        <a href="/features">
            <p>
                Features
            </p>
        </a>
        <a href="/about">
            <p>
                About
            </p>
        </a>
        <a href="/login">
            <p>
                Login
            </p>
        </a>
    </div>
</div>